body {
    font-family: Arial, sans-serif;
}

.form-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #4caf50;
}

.form-input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn-submit {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-submit:hover {
    background-color: #45a049;
}

.btn-donate {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    transition: transform 0.3s ease, background-color 0.3s ease;
    display: inline-block;
    text-align: center;
}

.btn-donate:hover {
    background-color: #45a049;
    transform: scale(1.1);
}